:root {
    --white: #f2f2f2;
    --gray-1: #666666;
    --gray-2: #4d4d4d;
    --gray-3: #333333;
    --gray-4: #191919;
    --black: #000000;
    --red: #D50000;
    --less-red: #D56868;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--white);

}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--gray-4);
}

.container > * {
    margin: 0 auto;
}

.main {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    width: 95%;
    margin: 15px auto;
}

.main > * {
    padding: 10px;
    margin: 0 auto;
}

/* ESTILOS PARA INDEX.HTML */

/* HEADER */

.top-header {
    background-color: #333333;
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem;

}

.top-header > p {
    text-align: end;
}

.header {
    background-color: black;
    color: white;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;

}

.logo {
    height: 100px;
}

.navbar ul {
    display: flex;
    flex-wrap: nowrap;

}

.navbar ul li {
    font-size: 1.3rem;
    text-decoration: none;
    list-style-type: none;
    padding: 8px;
    border: 2px solid var(--red);
    margin: 5px;
    border-radius: 10px;
}

.navbar ul li:hover {
background-color: var(--gray-1);
}

.navbar ul li a {
    text-decoration: none;
    font-size: 15px;
}

/* BIENVENIDO */

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome > * {
    width: 33%;
}

.welcome_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 15px;
}

.welcome_text > * {
    text-align: center;
    line-height: 140%;
    font-size: 1.3rem;
    width: 100%;
}

.welcome_text h3 {
    font-size: 2rem;
    
}

/*TODO TIPO DE EVENTOS*/


.events-title h3 {
    font-size: 1.8rem;
    margin: auto auto;
    text-align: center;
}


.events-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.cards {
    background-color: black;
    margin: 15px 40px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    height: 180px;
    width: 150px
}

.cards img {
    width: 100%;
}

.cards img:hover {
    opacity: 0.60;
}

.cards a {
    text-decoration: none;
}

.cards h4 {
    text-align: center;
    font-size: 1.5rem;
    margin: 5px 0;
    color: white;
}

/*FOOTER*/

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--gray-1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*LEFT FOOTER + RIGHT FOOTER*/

.left-footer, .right-footer {
    width: 30%;
    text-align: center;
}

.left-footer h5, .right-footer h5 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    
}

.left-footer p, .right-footer p {
    font-size: 1.3rem;
}

.center-footer h4 {
    margin-bottom: 8px;
    font-size: 1.5rem;
}


/* CENTER FOOTER */

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
font-size: 3rem;
}

/* RESPONSIVE INDEX */

@media (max-width:1280px) {
    html {
        font-size: 12px;
    }
    .navbar ul li a {
        font-size: 13px;
    }
    .welcome {
        flex-direction: column;
    }
    .welcome > * {
        width: 75%;
    }
    .welcome_text {
        order: -1;
    }
    .welcome > img {
        display: none;
    }
    .welcome_text > * {
        margin-bottom: 20px;
    }
    .welcome_text h3 {
        font-size: 2.5rem;
    }
    .welcome_text p {
        font-size: 1.5rem;
    }
    .events-title {
        padding-bottom: 40px;
    }
    .events-cards {
        width: 90%;
    }
    .cards {
        border: 3px solid black;
        height: 210px;
        width: 180px;
    }
    .left-footer h5, .right-footer h5 {
        margin-bottom: 8px;
        font-size: 1.3rem;
        
    }
    .left-footer p, .right-footer p {
        font-size: 1rem;
    }
    .center-footer h4 {
        margin-bottom: 8px;
        font-size: 1.3rem;
    }
}

@media (max-width:768px) {
    .top-header p {
        font-size: 1.1rem;
    }
    .navbar ul li a {
        font-size: 10px;
    }
    .logo {
        height: 80px;
    }
   .header {
        padding: 30px;
        height: 100px;
    }
    .welcome {
        padding-top: 20px;
    }
    .cards {
        border: 4px solid black;
        height: 250px;
        width: 220px;
        margin: 15px 20px;
    }
    .footer {
        width: 100%;
        height: 350px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .left-footer h5, .right-footer h5 {
        margin-bottom: 8px;
        font-size: 1.8rem;
        
    }
    .left-footer p, .right-footer p {
        font-size: 1.3rem;
    }
    .center-footer h4 {
        margin-bottom: 8px;
        font-size: 1.8rem;
    }
    .left-footer, .right-footer {
        width: 75%;
    }
}

@media (max-width:480px) {
    html {
        font-size: 9px;
    }
    .header {
        flex-direction: column;
        height: 180px;
        padding: 20px;
        align-items: space-evenly;
    }
}





/* ESTILOS PARA NOSOTROS.HTML */

.title {
    background-color: var(--red);
    padding: 10px;
    margin: 15px 0;
    font-size: 1.5rem;
}
.team {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.team * {
    width: 75%;
    padding: 12px;
}
.team p {
margin-top: 36px;
text-align: justify;
hyphens: auto;
line-height: 200%;
font-size: 2rem;
}

/* RESPONSIVE NOSOTROS */

@media (max-width:1280px) {
    .team p {
        font-size: 1.2rem;
    }
    .title {
        font-size: 1.4rem;
    }
}

@media (max-width:1000px) {
    .team p {
        font-size: 1rem;
        margin-top: 0px;
    }
    .title {
        font-size: 1.3rem;
    }
}

@media (max-width:768px) {
    .team p {
        font-size: 1.3rem;
        margin-top: 0;
    }
    .title {
        font-size: 1.2rem;
    }
    .team {
    grid-template-columns: 1fr;
    }
    .team p:nth-child(3) {
        grid-row: 4;
    }
    .team p:nth-child(6) {
        grid-row: 8;
    }
}






/* ESTILOS PARA SERVICIOS.HTML */

/* VISIBLE */

.robot-service, .fullphotobooth-service {
    margin-bottom: 20px;
}
.robot-service *, .fullphotobooth-service * {
    margin: 10px 0;
}

.robot-section_visible_preview, .fullphotobooth-section_visible_preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.robot-section_visible_preview > *, .fullphotobooth-section_visible_preview > * {
    padding: 20px 10px;
    width: 50%;
}

.robot-section_visible_preview_info, .fullphotobooth-section_visible_preview_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.robot-section_visible_preview_info p, .fullphotobooth-section_visible_preview_info p {
    width: 80%;
    line-height: 140%;
    text-align: justify;
    font-size: 1.7rem;
    
}
.robot-section_visible_preview_info button, .fullphotobooth-section_visible_preview_info button {
    width: 80%;
    background-color: var(--red);
    padding: 10px;
}
.robot-section_visible_preview_info button:hover, .fullphotobooth-section_visible_preview_info button:hover {
    background-color: var(--less-red);
}

/* INVISIBLE */

.robot-section_invisible, .fullphotobooth-section_invisible {
    margin-top: 30px;
    justify-content: space-between;
}
.robot-section_invisible *, .fullphotobooth-section_invisible * {
    margin: 0 10px;
    width: 45%;
}
.robot-section_invisible_photos img, .fullphotobooth-section_invisible_photos img {
    width: 100%;
    margin-bottom: 20px;
}

.robot_section_invisible_moreinfo, .fullphotobooth_section_invisible_moreinfo {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
}

.robot-section_invisible_moreinfo_text, .fullphotobooth-section_invisible_moreinfo_text {
    width: 100%;
}

.robot-section_invisible_moreinfo_text *, .fullphotobooth-section_invisible_moreinfo_text * {
    width: 100%;
    line-height: 140%;
    text-align: justify;
    hyphens: auto;
    padding-right: 15px;
    
}
.robot-section_invisible_moreinfo_text h4, .fullphotobooth-section_invisible_moreinfo_text h4 {
    margin-top: 6rem;
    font-size: 1.8rem;
}
.robot-section_invisible_moreinfo_text li, .fullphotobooth-section_invisible_moreinfo_text li {
    margin-top: 1rem;
    font-size: 1.3rem;
}
.robot-section_invisible_moreinfo_text li span, .fullphotobooth-section_invisible_moreinfo_text li span {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--red);
}
.robot-section_invisible_moreinfo_text p, .fullphotobooth-section_invisible_moreinfo_text p {
    font-size: 1.3rem;
}

.robot-section_invisible_moreinfo button, .fullphotobooth-section_invisible_moreinfo button {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    background-color: var(--red);
    padding: 10px;
}
.robot-section_invisible_moreinfo button:hover, .fullphotobooth-section_invisible_moreinfo button:hover {
    background-color: var(--less-red);
}

/* RESPONSIVE SERVICIOS*/

@media (max-width:1280px) {
    
    .robot-section_invisible_moreinfo_text h4, .fullphotobooth-section_invisible_moreinfo_text h4 {
        font-size: 1.6rem;
    }
    .robot-section_invisible_moreinfo_text li, .fullphotobooth-section_invisible_moreinfo_text li {
        font-size: 1.1rem;
    }
    .robot-section_invisible_moreinfo_text li span, .fullphotobooth-section_invisible_moreinfo_text li span {
        font-size: 1.3rem;
    }
    .robot-section_invisible_moreinfo_text p, .fullphotobooth-section_invisible_moreinfo_text p {
        font-size: 1.1rem;
    }
    .robot-section_visible_preview_info p, .fullphotobooth-section_visible_preview_info p {
        font-size: 1.1rem;
    }
}

@media (max-width:1000px) {
    .robot-section_visible_preview_info p, .fullphotobooth-section_visible_preview_info p {
        font-size: 1.1rem;
    }
 }

@media (max-width:768px) {
    .robot-section_visible_preview, .fullphotobooth-section_visible_preview {
        flex-direction: column;
    }
    .robot-section_visible_preview *, .fullphotobooth-section_visible_preview * {
        width: 90%;
    }
    .robot-section_visible_preview_info p, .fullphotobooth-section_visible_preview_info p {
        font-size: 1.1rem;
    }
    
    


    .robot_section_invisible, .fullphotobooth_section_invisible {
        /* align-items: center; */
        
    }

    .robot-section_invisible *, .fullphotobooth-section_invisible * {
        width: 90%;
        margin: 0 auto;
    }
}







/* ESTILOS PARA COTIZADOR.HTML */

.main-cotizador {
    max-width: 1200px;
    height: 100vh;
}
.oops {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oops img {
    width: 30%;
}
.oops h5 {
    margin-top: 1rem;
    font-size: 1.3rem;
}